/** **/
.dialog-pane{
    -fx-border-color:#2ecc71;
    -fx-border-width:2.0px;
}

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
    -fx-background-color:#2ecc71;
}

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color: #2ecc71;
    -fx-text-fill:white;
    -fx-font-size:15.0px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
    -fx-background-color: #2ecc71;
}

.dialog-pane:header .header-panel .label{
    -fx-background-color: #2ecc71;
    -fx-background-radius:10px;
    -fx-text-fill:white;
    -fx-font-size:15.0px;
}


/**Costumization of Buttons**/
.dialog-pane .button{
    -fx-background-color:white;
    -fx-text-fill:#2ecc71;
    -fx-cursor:hand;
}

.dialog-pane .button:hover{
    -fx-background-color:#2ecc71;
    -fx-text-fill:white;
    -fx-font-weight:bold;
}