.title-bar{
    -fx-background-color: #b6c6d2;
}

.root{
    -fx-background-color: #34495e;
    -fx-background-radius: 5;
}

.background{
    -fx-background-color: #34495e;
}

.close-button{
    -fx-background-color: #ff3b30;
    -fx-background-radius: 100 100 100 100;
}

.minimize-button{
    -fx-background-color: #fdbc40;
    -fx-background-radius: 100 100 100 100;
}

.maximize-button{
    -fx-background-color: #33c748;
    -fx-background-radius: 100 100 100 100;
}

.top-header{
    -fx-background-color: #2c3e50;
}

.container{
    -fx-background-color:  #2c3e50;
    -fx-background-radius: 15 15 15 15;
}

.container-header{
    -fx-background-color:  #2ecc71;
    -fx-background-radius: 15 15 0 0;
}

.container-footer{
    -fx-background-color:  #2ecc71;
    -fx-background-radius: 0 0 15 15;
}

.container-green{
    -fx-background-color:  #2ecc71;
}

.container-dark{
    -fx-background-color:  #2c3e50;
    -fx-background-radius: 10 10 10 10;
}

.side-menu{
    -fx-background-color:  #2c3e50;
}

.text-field-white{
    -fx-prompt-text-fill: #ffffff;
    -fx-text-fill: #ffffff;
}

.text-field-green{
    -fx-prompt-text-fill: #ffffff;
    -fx-text-fill: #2ecc71;
}

.text-field-red{
    -fx-prompt-text-fill: #ffffff;
    -fx-text-fill: #e74c3c;
}



/*Buttons*/
.button-white{
    -fx-background-color: #ffffff;
    -fx-pref-height: 35;
    -fx-text-fill: #2ecc71;
}

.button-green{
    -fx-background-color: #2ecc71;
    -fx-pref-height: 35;
    -fx-text-fill: #ffffff;
}

.button-red{
    -fx-background-color: #e74c3c;
    -fx-pref-height: 35;
    -fx-text-fill: #ffffff;
}

/*Hamburger*/
.jfx-hamburger StackPane {
    -fx-background-color: #ffffff;
}

/*Table View*/
.table-view {
    -fx-base: #2ecc71;
    -fx-control-inner-background: #2ecc71;
    -fx-background-color: #27ae60;
    -fx-background-radius: 10 10 10 10;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 10;
}

.table-view *{
    -fx-text-fill: #2c3e50;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 18px;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 14px;
    -fx-font-family: "Calibri Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-row-cell .column-header .label{
    -fx-background-insets: 3px;
    -fx-text-fill: white;
}
.table-view .table-row-cell{
    -fx-text-fill: white;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color:#16a085;
}


/*Combo Box*/
.combo-box{
    -fx-prompt-text-fill: #ffffff;
}

.combo-box .list-cell{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}

.combo-box-popup .list-view{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: white;
    -fx-text-fill: #2ecc71;
}