.title-bar{
    -fx-background-color: #b6c6d2;
}

.root{
    -fx-background-color: #34495e;
    -fx-background-radius: 5;
}

.background{
    -fx-background-color: #34495e;
}

.close-button{
    -fx-background-color: #ff3b30;
    -fx-background-radius: 100 100 100 100;
}

.minimize-button{
    -fx-background-color: #fdbc40;
    -fx-background-radius: 100 100 100 100;
}

.maximize-button{
    -fx-background-color: #33c748;
    -fx-background-radius: 100 100 100 100;
}

.top-header{
    -fx-background-color: #2c3e50;
}

.container{
    -fx-background-color:  #2c3e50;
    -fx-background-radius: 15 15 15 15;
}

.container-header{
    -fx-background-color:  #2ecc71;
    -fx-background-radius: 15 15 0 0;
}

.container-footer{
    -fx-background-color:  #2ecc71;
    -fx-background-radius: 0 0 15 15;
}

.text-field-white{
    -fx-prompt-text-fill: #ffffff;
    -fx-text-fill: #ffffff;
}

.jfx-hamburger StackPane {
    -fx-background-color: #ffffff;
}